{% extends 'base.html.twig' %}

{% block panel %}
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <a href="/">{{ 'serie.show.home'|trans }}</a>
    </li>
  </ul>
{% endblock %}

{% block side_content %}

{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">
      <h1>Dashboard</h1>
      <div class="panel panel-default">
        <div class="panel-heading"><b>{{ 'admin.reported_user'|trans }}</b></div>
        <div class="panel-body">
          <ul>
            {% for user in users %}
            <li>
              <a href="{{ path('fos_user_profile_show', { 'id': user.id }) }}">{{ user }}</a>
              <button class="flt-r" id="users{{ user.id }}">{{ 'admin.lock'|trans }}</button>
              <script type="text/javascript">
                $("#users"+{{ user.id }}).click(function(){
                  moderate("users", {{ user.id }});
                }
                );
              </script>
            </li>
            <hr>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><b>{{ 'admin.series_to_moderate'|trans }}</b></div>
        <div class="panel-body">
          <ul>
            {% for serie in series %}
            <li>
              <a href="{{ path('serie_show', { 'id': serie.id }) }}">{{ serie.title }}</a>
              <button class="flt-r" id="series{{ serie.id }}">{{ 'admin.validate'|trans }}</button>
              <script type="text/javascript">
                $("#series"+{{ serie.id }}).click(function(){
                  moderate("series", {{ serie.id }});
                }
                );
              </script>
            </li>
            <hr>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><b>{{ 'admin.episodes_to_moderate'|trans }}</b></div>
        <div class="panel-body">
          <ul>
          {% for episode in episodes %}
            <li>
              <a href="{{ path('episode_show', { 'id': episode.id }) }}">{{ episode.title }}</a>
              <button class="flt-r" id="episodes{{ episode.id }}">{{ 'admin.validate'|trans }}</button>
              <script type="text/javascript">
                $("#episodes"+{{ episode.id }}).click(function(){
                  moderate("episodes", {{ episode.id }});
                }
                );
              </script>
            </li>
            <hr>
          {% endfor %}
          <ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><b>{{ 'admin.reported_comments'|trans }}</b></div>
        <div class="panel-body">
          <ul>
          {% for comment in comments %}
            <li>
              <a href="#">{{ comment.author }}</a>
              <button class="flt-r" id="comments{{ comment.id }}">{{ 'admin.lock'|trans }}</button>
              <script type="text/javascript">
                $("#comments"+{{ comment.id }}).click(function(){
                  moderate("comments", {{ comment.id }});
                }
                );
              </script>
            </li>
            <hr>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      /**
      * Ajax request
      *
      * @data : path, button, id
      */
      function moderate(path, id)
      {
        var url = "/admin/"+id+'/'+path;
        $.ajax(
          {
            url: url,
            type: 'GET',
            data: { id: id },
            success: function(data){
              if (data) {
                $("#"+path+id).html(data);
              }
            },
            error: function(error){
              console.log(error);
            }
          }
        );
      }
  </script>
{% endblock %}
