{% extends 'base.html.twig' %}

{% block panel %} <!-- surcharge du block panel gauche -->
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <a href="/">Home</a>
    </li>
    <li>
      <a data-toggle="tab" href="{{ path('serie_index') }}">Back to the list</a>
    </li>
  </ul>
{% endblock %}

{% block side_content %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
  <div class="panel panel-default">
    <div class="panel-heading">Menu admin</div>
    <div class="panel-body">
      <div class="col-md-12">
        <div class="row">
          <a href="{{ path('serie_edit', { 'id': serie.id }) }}">Edit</a>
        </div>
        <div class="row">
          <a href="{{ path('episode_new', { 'id': serie.id }) }}">Ajouter un épisode</a>
        </div>
        <div class="row">
        {% if is_granted("ROLE_ADMIN") %}
          {{ form_start(delete_form) }}
            <button type="submit" id="delete" class="btn btn-xs btn-danger"><i class='fa fa-exclamation-triangle' aria-hidden='true'></i> Delete</button>
          {{ form_end(delete_form) }}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block body %} <!-- contenu -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="{{ asset(serie.getPicture()) }}" class="poster" />
    </div>
    <div class="col-xs-12  col-sm-4 col-md-6">
      <h1>{{ serie.title }}</h1>
      {{ render( controller( "IdeatoStarRatingBundle:StarRating:displayRate", { contentId: serie.id, contentType: 'Serie' }) ) }} <!-- Star Rating ! -->

      <h3>Synopsis</h3>
      <p>{{ serie.resume }}</p>
    </div>
    <div class="col-xs-12 col-md-2 text-right">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <button id="follow" class="btn btn-primary btn-sm"></button>
      {% endif %}
    </div>
  </div>

  <div class="row mt30p">
    <div class="col-sm-12">
      <ul class="nav nav-tabs"> <!-- Ongets -->
        <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
        {% for i in 1..serie.season %}  <!-- boucle nombre saison -->
          <li><a data-toggle="tab" href="#season{{ i }}">Saison {{ i }}</a></li>
        {% endfor %}
      </ul>

      <div class="tab-content mt30p"> <!--  -->
        <div id="description" class="tab-pane fade in active">
          <p>Status:</p>
          <p>Nationalitée:</p>
          <p>Nombre de saison: {{ serie.season }}</p>
          <p>Realisateur:</p>
          <p>Acteurs:</p>
        </div>
        {% for i in 1..serie.season %}
          <div id="season{{ i }}" class="tab-pane fade">
            <ul>
            {% for episode in serie.episode %} <!-- Boucle d'affichage des episodes -->
              {% if episode.season == i %}
                <li>
                  <a href="{{ path('episode_show', { 'id': episode.id }) }}">{{ episode.episodeNumber }}. {{ episode }} </a> <!-- affichage et lien vers l'épisode -->
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-sm-12 jumbotron mt30p">
    {% stylesheets 'css/comments.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %} <!-- condition si authentifié -->
      {% include 'includes/not_logged.html.twig' %}
    {% endif %}
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': serie.id } %} <!-- affichage des commentaires et du formulaire -->
  </div>

      <!-- chargement du JS -->
      {% javascripts
        '@IdeatoStarRatingBundle/Resources/public/jquery.raty.js'
        '@IdeatoStarRatingBundle/Resources/public/jquery.starrating.js'
        'js/ajaxServices.js'
      %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
      <script type="text/javascript">
          /**
          * is Followed ? Ajax request
          *
          * @data : serie id
          */
        $.ajax(
          {
            url:"{{ path('ajax_isfollowed', { 'id': serie.id }) }}",
            success: function(data){
              if (data) {
                $("#follow").html(data);
              }
            },
            error: function(error){
              //console.log(error);
            }
          }
        );

        $('#follow').off().on("click", function()
        {
          /**
          * Follow Ajax request
          *
          * @data : serie id
          */
          $.ajax(
            {
              url:"{{ path('ajax_follow', { 'id':  serie.id }) }}",
              success: function(data){
                $("#follow").html(data);
              },
              error: function(error){
              }
            }
          );
        });
      </script>
      {% endjavascripts %}

{% endblock %}
