  <nav class="navbar-fixed-top">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="#" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <i class="fa fa-ellipsis-v fa-2x gris" aria-hidden="true"></i>
      </a>
      <a class="navbar-brand navbar-left" href="/"><img class="logo" src="{{ asset('logo.png') }}"></a>
    </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <div class="col-md-2 col-lg-3"></div>
        <ul class="menu nav navbar-nav navbar-center">
          <li class="menu2">
            <a href="#">Actualités</a>
          </li>
          <li class="menu3">
            <a href="{{ path('serie_index') }}">Series</a>
          </li>
          <li class="menu4">
            <a href="#">Top</a>
          </li>
          <li class="menu1">
            <a href="{{ path('serie_new')}}">Ajouter une serie</a>
          </li>
        </ul>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul class="menu nav navbar-nav navbar-right ">
          <li>
            <a class="dropdown-toggle" type="button" data-toggle="dropdown">{{ fos_message_nb_unread() }} <i class="fa fa-envelope"></i><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user"></i><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ path('fos_user_profile_show')}}">
                    <img src="{{ asset(app.user.getImageName)}}" alt="Avatar" class="avatar" />&nbsp;
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                  </a>
                </li>
                <li>
                  <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                </li>
              </ul>
            </li>
          </ul>
        {% else %}
          <ul class="menu nav navbar-nav navbar-right ">
            <li class="menu-gris">
              <a href="#" id="myBtn"><i class="fa fa-sign-in"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            </li>
            <li class="menu-gris">
              <a href="{{ path('fos_user_registration_register')}}"><i class="fa fa-user-plus"></i> Sign Up</a>
            </li>
          </ul>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </nav>
</header> <!-- Header end -->
